/* Colour Pallete 
#1a3642
#e19d18 */

body {
  font-family: "Lato", sans-serif;
  background-color: #1a3642;
  color: white;
}

.websiteContainer {
  width: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu {
  height: 110px;
  text-align: right;
  position: sticky;
  display: flex;
  right: 10px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 200px;
  height: 115px;
  margin-left: 20px;
}
.featuredMovies {
  /* height: 600px; */
  position: relative;
}
.imageSliderNavigation {
  /* border: 1px solid yellow; */
}
#search-bar-container {
  border: 1px solid red;
  color: rgb(102, 100, 100);
  /* position: absolute; */
  /* text-align: right; */
}
.searchform {
  /* position: absolute; */
  /* top: 80px; */
  /* right: 0px; */
  /* width: 200px; */
  /* height: 100px; */
}
#searchinput {
}
#searchsubmit {
  background-color: #1a3642;
  color: white;
}
.movieDisplay {
  width: 100vw;
  height: 500px;
}
footer {
  height: 50px;
  text-align: center;
  padding-top: 12px;
}

/* Google Fonts  */

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
