/* Colour Pallete 
#1a3642 teal
#152b34 darker
#2e5160 lighter
#e19d18 yellow
*/

html,
body {
  height: 100%;
}
html {
  display: table;
  margin: auto;
}
body {
  font-family: "Lato", sans-serif;
  background-color: #152b34;
  color: white;
  display: table-cell;
  vertical-align: middle;
}
.websiteContainer {
  height: fit-content;
  width: 100svw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1a3642;
  padding-bottom: 2svh;
  box-shadow: 2px 2px 10px 0px #102027;
}
.menu {
  height: 110px;
  text-align: right;
  position: sticky;
  display: flex;
  right: 10px;
  justify-content: space-between;
  align-items: center;
  align-items: flex-end;
}
.logo {
  margin-left: 20px;
}
.featuredMovies {
  position: relative;
  width: 100%;
  height: auto;
  /* opacity: 0.3; */
}
.featuredMovies > img {
  box-shadow: 2px 2px 10px 0px #152b34;
}
.imageSliderNavigation {
}
#search-bar-container {
  color: rgb(102, 100, 100);
}
.searchform {
}
#searchinput {
}
#searchsubmit {
  color: white;
  background-color: #e19d18;
  border-radius: 5px;
}
.movieDisplay {
  width: 100svw;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5svw;
}
footer {
  height: 50px;
  text-align: center;
  padding-top: 12px;
  color: #e19d18;
}

/* Google Fonts for use on the site  */

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}
.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
}

#notification-container {
  position: fixed;
  bottom: 50px;
  right: 30px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: opacity 1s;
  font-size: 40px;
}

.movie-container {
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20svw;
  height: fit-content;
  border-radius: 8px;
  padding-bottom: 1svh;
  box-shadow: 1px 3px 5px black;
  background-color: goldenrod;
}

.movie-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-title {
  font-size: 2em;
  margin: 0;
  line-height: 1;
}

.release-date {
  font-size: 0.6em;
}

.movie-poster {
  width: 100%;
  height: auto;
}

.movie-overview {
  font-size: 0.8em;
  padding: 0.2svw;
  word-wrap: break-word;
}

.genre-container {
  display: flex;
  gap: 0.2svw;
  flex-wrap: wrap;
}

.genre-text {
  margin: 0.1svw;
  line-height: 0.7;
}

.movie-rating-container {
  display: flex;
  padding: 0px 0.2svw 0px 0.2svw;
  align-items: baseline;
  justify-content: flex-start;
  gap: 1svw;
  width: 80%;
}

.rating-label {
}

.rating-content {
}

.button-container {
  display: flex;
  flex-direction: wrap;
  justify-content: space-evenly;
  gap: 0.1svw;
}

.add-button {
}

.delete-button {
}
